<div class="container">
    <form action="/login" method="POST" class="login" id="login">
        <p class="login-title">Log in</p>
        <div class="login-input">
            <input type="email" id="myuser" name="email">
            <label for="myuser">Email</label>
        </div>
        <div class="login-input">
            <input type="password" id="password" name="password">
            <label for="password">Password</label>
        </div>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

        <div class="button-login">
            <input class="button-style" type="submit" value="Log in"></input>
        </div>

        <div class="login-signUp">
            <label for="termsAndConditions">Don't have an account yet? </label>
            <a href="/signup">Sign up</a>
        </div>
    </form>
</div>