<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="login-style.css">
</head>

<body>

    <div class="container">
        <form class="login" id="login">

            <form action="/login" method="POST"></form>

            <p class="login-title">Log in</p>
            <div class="login-input">
                <input type="text" id="myuser">
                <label for="myuser">User</label>
                <p class="mesageError">
                    <!--This name doesn't exist*-->
                </p>
            </div>

            <div class="login-input">
                <input type="password" id="password">
                <label for="password">Password</label>
                <p class="mesageError"></p>
            </div>


            <div class="button-login">
                <input type="submit" value="Log in"></input>
            </div>

            <div class="login-signUp">
                <label for="termsAndConditions">Don't have an account yet? </label>
                <a href="#">Sign up</a>
                <p class="mensajeError"></p>
            </div>

        </form>
    </div>


</body>

</html>