<div class="container">
    <form class="login" id="login">

        <form action="/login" method="POST">

            <p class="login-title">Log in</p>

            <div class="login-input">
                <input type="text" id="myuser">
                <label for="myuser">User</label>
            </div>

            <div class="login-input">
                <input type="password" id="password">
                <label for="password">Password</label>
            </div>

            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}

            <div class="button-login">
                <input type="submit" value="Log in"></input>
            </div>

            <div class="login-signUp">
                <label for="termsAndConditions">Don't have an account yet? </label>
                <a href="#">Sign up</a>
            </div>

        </form>
</div>