<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign up</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="form-style.css">
</head>

<body>

  <div class="container">
    <form class="form" id="form">
      <p class="form-title">Registration</p>
      <div class="form-input">
        <input type="text" id="myname">
        <label for="myname">User</label>
        <p class="mesageError">
          <!--Ups! Your name please.-->
        </p>
      </div>

      <div class="form-input">
        <input type="password" id="password">
        <label for="password">Password</label>
        <p class="mesageError"></p>
      </div>
      <div class="form-input">
        <input type="password" id="verifyPassword">
        <label for="verifyPassword">Verify password</label>
        <p class="mesageError"></p>
      </div>

      <div class="form-input">
        <input type="email" id="email">
        <label for="email">E-mail</label>
        <p class="mesageError"></p>
      </div>


      <div class="button-SignUp">
        <input type="submit" value="Sign up"></input>
      </div>

      <script src="form.js"></script>

    </form>
  </div>


  {{{body}}}
</body>

</html>