:root {
  --white-color: white;
  --primary-color: #e3562a;
  --secondary-color: #65aaea;
  --grey: #bebab3;
  --dark-grey: #78746d;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: var(--dark-grey);
}

nav.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
nav.navbar a {
  margin-right: 15px;
}

