<div class="container">
    <form action="/new-comic" method="POST" class="new-comic" id="new-comic">

        <p>Create a new comic</p>

        <div class="form-input">
            <input type="text" name="image" placeholder="Add an image" id="img-newComic">
            <label for="newimage">Image</label>
        </div>

        <div class="form-input">
            <input type="text" name="title" placeholder="Add title" id="title-newComic">
            <label for="title">Title</label>
        </div>

        <div class="form-input">
            <input type="text" name="volume-number" placeholder="Add volume number" id="number-newComic">
            <label for="volume-number">Volume number</label>
        </div>

        <div class="form-input">
            <input type="text" name="editorial" placeholder="Add editorial" id="editorial-newComic">
            <label for="editorial">Editorial</label>

            <div class="form-input">
                <input type="text" name="pages" placeholder="Add number of pages" id="pages-newComic">
                <label for="pages">Number of pages</label>

                <div class="form-input">
                    <input type="text" name="description" placeholder="Add description" id="description-newComic">
                    <label for="description">Description</label>

                    <div class="form-input">
                        <input type="text" name="opinion" placeholder="Add your opinion" id="opinion-newComic">
                        <label for="opinion">Opinion</label>


                        {{#if errorMessage}}
                        <p class="error">{{errorMessage}}</p>
                        {{/if}}

                        <div class="button-save">
                            <button type="save">Done!</button>
                        </div>
    </form>
</div>