<form action="/logout" method="POST">
  <div class="button-logout">
    <input type="submit" value="Log out"></input>
  </div>
</form>


<h1>Welcome to your profile {{user.username}}!</h1>
<h3>Comics</h3>
<ul>
  {{#each comics}}
  <li><a href="/comics/detail/{{this._id}}/">{{this.title}}</a></li>
  {{/each}}
</ul>

<div class="button-newComic">
  <a href="/comics/new">Create new comic</a>
</div>