<p>Welcome to your profile {{user.username}}!</p>



<div class="button-newComic">
  <a href="/comics/new">Create new comic</a>
</div>

<form action="/logout" method="POST">
  <div class="button-login">
    <input type="submit" value="Log out"></input>
  </div>
</form>