<h1>Welcome to your profile {{user.username}}!</h1>


<div class="button-yourComics">
  <!--<button><a href="/comics/mine">View your comics</a></button>-->
  <i> <a href="/comics/mine"><img src="/img/Sailor.jpg" width="200px"></a></i>
</div>

<div class="button-otherComic">
  <!--<button><a href="/comics/users">View users comics</a></button>-->
  <i><a href="/comics/all"><img src="/img/18.png" width="180px"></a></i>
</div>


<div class="button-newComic">
  <!--<button><a href="/comics/new">Create new comic</a></button>-->
  <a href="/comics/new"><img src="/img/luffy.jpg" width="190px"></a>
</div>

<form action="/logout" method="POST">
  <div class="button-logout">
    <input type="submit" value="Log out"></input>
  </div>
</form>