<p>Welcome to your profile {{user.username}}!</p>


<form action="/comics/new" method="POST">
  <div class="button-newComic">
    <input type="submit" value="Add new comic"></input>
  </div>
</form>

<form action="/logout" method="POST">
  <div class="button-login">
    <input type="submit" value="Log out"></input>
  </div>
</form>