<div class="container-yourComics">

    <h3>Your comics</h3>
    <ul>
        {{#each comics}}
        <div class="comic-card">
            <img width="120px" src="{{this.image}}" alt="{{this.title}}" />
            <p><a href="/comics/detail/{{this._id}}/">{{this.title}}</a></p>
        </div>
        {{/each}}
    </ul>

    <p><a href="/profile">Go back to profile</a></p>
</div>